@charset "utf-8";
/* Styles for chord diagrams */

h1 {
    font-size:60px;
    text-align: center;
    }
p + p {
    margin-top: 24px;
    }
img {
    align: top;
    width: auto;
    height: 100%;
    }

.l, .r {
    margin-top: 120px;
    width:  15%;
}
.l {
    float: left;
}
.r {
    float: right;
}
div.l > div {
    float: right;
}
div.r > div {
    float: left;
}

.chord_col {
    float: left;
    width:  70%;
    }
.row:after {
    content: "";
    display: table;
    clear: both;
    }
.highlight {
    font-size: 150%;
    font-weight: bold;
    }